{% extends 'base.html' %}

{% block navbar %}

<div class="messages pt-4">
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <div class="success">
            <span id="tickbtn" class="closebtn-success">&#x2713</span>
            <script type="text/javascript" src="{{ url_for('static', filename='scripts/onHide.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='scripts/onClicks.js') }}"></script>

            {{ message }}
        </div>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

<div class="errors p-4">
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <ul class=flashes>
        {% for error in errors %}
            <div class="error">
                <span id="closebtn" class="closebtn-error">&#x2717</span>
                <script type="text/javascript" src="{{ url_for('static', filename='scripts/onHide.js') }}"></script>
                <script type="text/javascript" src="{{ url_for('static', filename='scripts/onClicks.js') }}"></script>
                <span> {{ error }} </span>
            </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}