{% extends 'appbase.html' %}

{% block content %}
<div class="abs">
  <form method="post">
  <div class="rel">
    <p>PROTOCOLISM</p>
  </div>
  <div class="rel soft-page-step">
    <div class="log-container p-4">
        <h3>Automatic mode:</h3>
    </div>
    <div class="buttons-column pb-4">
        <div class=p-4>
            <label for="entities">How many entities?</label>
            <input type="number" class="form-control" name="entities" id="entities"  value="3">
        </div>
        <div class=p-4>
            <label for="steps">How many steps?</label>
            <input type="number" class="form-control" name="steps" id="steps" value="4">
        </div>
    </div>

  </div>
  <div class="buttons-column">
    <button type="submit" class="btn btn-success width-in-carousel button-in-carousel" name="simulate" value="simulate">Simulate!</button>
  </div>
  <div class="buttons-column">
    <button type="submit" class="btn btn-primary width-in-carousel button-in-carousel" name="back" value="back">Back to menu</button>
  </div>
</form>
</div>

{% endblock %}