{% extends 'appbase.html' %}

{% block content %}
<div class="abs">
  <div class="rel">
    <p>PROTOCOLISM</p>
  </div>
  <div class="rel soft-page">
    <form method="post">
      <button type="submit" class="btn button-in-carousel width-in-carousel btn-success" name="start" value="start">Get started with step-by-step mode</button>
      <button type="submit" class="btn button-in-carousel width-in-carousel btn-secondary" name="alt" value="alt">All in one mode</button>
    </form>
    <div class="margin-top-bot">
      <h3>How to use the protocol simulator:</h3>
    </div>
    <object class="soft-page embed-pdf" data="static/docs/manual.pdf" type="application/pdf">
      <h3><a href="static/docs/manual.pdf">Download PDF manual</a></h2>
    </object>
  </div>
</div>

{% endblock %}