{% extends 'appbase.html' %}

{% block content %}
<div class="abs">
  <div class="rel">
    <p>PROTOCOLISM</p>
    <p class="sub-p">protocol language simulator</p>
  </div>
  <div class="rel soft-page">
    <form method="post">
      <button type="submit" class="btn btn-success" name="start" value="start">Get started!</button>
    </form>
    <h3>How to use the protocol simulator:</h3>
    <object class="embed-pdf" data="static/docs/manual.pdf" type="application/pdf">
      <h3><a href="static/docs/manual.pdf">Download PDF manual</a></h2>
    </object>
    <button class="btn">
  </div>
</div>

{% endblock %}