.messages{
    z-index: 998;
    position:fixed;
    left: 20px;;
    top: 0;
}

.errors{
    z-index: 999;
    position:fixed;
    right:0;
    top: 0;
}

.success {
    padding:20px;
    color: #292929;
    margin-bottom:15px;
    background-color: white;
    border: 3px solid greenyellow;
    max-width: 350px;
    animation-duration: 1s;
    animation-name: fromleft;
}

.error {
    padding:20px;
    color: #292929;
    margin-bottom:15px;
    background-color: white;
    border: 3px solid #292929;
    max-width: 350px;
    animation-duration: 1s;
    animation-name: fromright;
}

.closebtn-success {
    margin-left:15px;
    color:greenyellow;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}

.closebtn-success:hover {
    color: black;
  }

.closebtn-error {
    margin-right:15px;
    color:red;
    font-weight: bold;
    float: left;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}

.closebtn-error:hover {
    color: black;
  }
  
@keyframes fromright {
    from {
      transform: translateX(600px);
      width: 300%;
    }
    to {
      transform: translateX(0px);
      width: 100%;
    }
  }

@keyframes fromleft {
    from {
      transform: translateX(-600px);
      width: 300%;
    }
    to {
      transform: translateX(0px);
      width: 100%;
    }
  }